$primary-magenta: hsl(300, 43%, 22%);
$primary-pink: hsl(333, 80%, 67%);

$neutral-dark-magenta: hsl(303, 10%, 53%);
$neutral-light-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

html {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  text-align: center;
}

body {
  padding: 10px;
  background-image: url(./images/bg-pattern-top-mobile.svg),
    url(./images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100%;
}

.hero {
  margin-top: 65px;
  h1 {
    color: $primary-magenta;
    font-weight: 700;
    padding: 0 50px;
    font-size: 1.5rem;
  }

  .description {
    color: $neutral-dark-magenta;
    margin: 1rem 0;
    font-weight: 500;
  }
}

.ratings {
  margin: 30px 0;
  .rating {
    background-color: $neutral-light-magenta;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    .rating-text {
      color: $primary-magenta;
      font-weight: 700;
      margin: 5px;
    }
  }
}

.reviews {
  margin: 50px 0 0 0;
  .review {
    background-color: $primary-magenta;
    color: $neutral-light-magenta;
    border-radius: 10px;
    margin: 20px 15px;
    padding: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    .review-header {
      display: flex;
      margin: 10px 0px;
      flex-direction: row;
      align-items: center;
      .review-header-picture {
        width: 25%;
        img {
          border-radius: 50%;
          width: 70%;
        }
      }
      .review-header-name {
        color: $white;
        font-weight: 500;
        margin: 5px;
      }
      .review-header-role {
        color: $primary-pink;
        margin: 5px;
      }
    }
    .review-body {
      margin-top: 10px;
      line-height: 1.4rem;
      font-size: 12px;
    }
  }
}

@media (min-width: 576px) {
  body {
    padding: 40px 10vw;
  }

  .hero {
    h1 {
      font-size: 2.5rem;
    }
  }
}

@media (min-width: 960px) {
  body {
    background-image: url(./images/bg-pattern-top-desktop.svg),
      url(./images/bg-pattern-bottom-desktop.svg);
    background-size: 35%, 75%;
    background-position: 0 0, 100% 100%;
    padding: 0 10vw;
    height: 100vh;
    margin: 0;
  }

  .top {
    display: flex;
    .hero {
      text-align: left;
      width: 50%;
      h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        padding-right: 50px;
        padding-left: 0;
        margin: 0;
      }
      .description {
        font-size: 1rem;
        padding-right: 15%;
        line-height: 2rem;
      }
    }

    .ratings {
      width: 50%;
      padding: 40px 0px 10px 30px;
      .rating {
        display: flex;
        padding: 10px;
        width: 75%;
        margin: 15px;
        .rating-stars {
          padding: 5px 5px 5px 15px;
        }
        .rating-text {
          padding: 7px 20px;
          margin: 0;
          align-self: baseline;
          font-size: 1rem;
        }
        @for $i from 0 to 3 {
          &:nth-child(#{$i + 1}) {
            margin-left: $i * 50px;
          }
        }
      }
    }
  }

  .reviews {
    display: flex;
    margin-left: -15px; /*to align 1st review with hero */
    .review {
      height: 20%;
      @for $i from 0 to 3 {
        &:nth-child(#{$i + 1}) {
          margin-top: $i * 20px;
        }
      }
    }
  }
}
