html {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  text-align: center;
}

body {
  padding: 10px;
  background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100%;
}

.hero {
  margin-top: 65px;
}
.hero h1 {
  color: #502050;
  font-weight: 700;
  padding: 0 50px;
  font-size: 1.5rem;
}
.hero .description {
  color: #937b92;
  margin: 1rem 0;
  font-weight: 500;
}

.ratings {
  margin: 30px 0;
}
.ratings .rating {
  background-color: #f7f2f7;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
}
.ratings .rating .rating-text {
  color: #502050;
  font-weight: 700;
  margin: 5px;
}

.reviews {
  margin: 50px 0 0 0;
}
.reviews .review {
  background-color: #502050;
  color: #f7f2f7;
  border-radius: 10px;
  margin: 20px 15px;
  padding: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.reviews .review .review-header {
  display: flex;
  margin: 10px 0px;
  flex-direction: row;
  align-items: center;
}
.reviews .review .review-header .review-header-picture {
  width: 25%;
}
.reviews .review .review-header .review-header-picture img {
  border-radius: 50%;
  width: 70%;
}
.reviews .review .review-header .review-header-name {
  color: white;
  font-weight: 500;
  margin: 5px;
}
.reviews .review .review-header .review-header-role {
  color: #ee68a4;
  margin: 5px;
}
.reviews .review .review-body {
  margin-top: 10px;
  line-height: 1.4rem;
  font-size: 12px;
}

@media (min-width: 576px) {
  body {
    padding: 40px 10vw;
  }

  .hero h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 960px) {
  body {
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-size: 35%, 75%;
    background-position: 0 0, 100% 100%;
    padding: 0 10vw;
    height: 100vh;
    margin: 0;
  }

  .top {
    display: flex;
  }
  .top .hero {
    text-align: left;
    width: 50%;
  }
  .top .hero h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    padding-right: 50px;
    padding-left: 0;
    margin: 0;
  }
  .top .hero .description {
    font-size: 1rem;
    padding-right: 15%;
    line-height: 2rem;
  }
  .top .ratings {
    width: 50%;
    padding: 40px 0px 10px 30px;
  }
  .top .ratings .rating {
    display: flex;
    padding: 10px;
    width: 75%;
    margin: 15px;
  }
  .top .ratings .rating .rating-stars {
    padding: 5px 5px 5px 15px;
  }
  .top .ratings .rating .rating-text {
    padding: 7px 20px;
    margin: 0;
    align-self: baseline;
    font-size: 1rem;
  }
  .top .ratings .rating:nth-child(1) {
    margin-left: 0px;
  }
  .top .ratings .rating:nth-child(2) {
    margin-left: 50px;
  }
  .top .ratings .rating:nth-child(3) {
    margin-left: 100px;
  }

  .reviews {
    display: flex;
    margin-left: -15px;
    /*to align 1st review with hero */
  }
  .reviews .review {
    height: 20%;
  }
  .reviews .review:nth-child(1) {
    margin-top: 0px;
  }
  .reviews .review:nth-child(2) {
    margin-top: 20px;
  }
  .reviews .review:nth-child(3) {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
